body {
    font-family: 'Courier New', monospace;
}
h1 {
    font-size: 32px;
}
.solid-cursor {
    font-weight: 100;
    font-size: 40px;
    color: black;
    display: inline;
}
.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.button {
    height: 50px;
    width: 200px;
    color: white;
    border: 3px dashed black;
    transition: 1s;
    opacity: 1;
}

.button:hover {
    border: 3px solid black;
}

.button_p {
    color: white;
    z-index:-1;
    position: relative;
    left: 20px;
    top: -20px;
    font-size: 30px;
    transition: 0.5s;
}

.button:hover .button_p{
    color: black;
}

.para {
    transform: rotate(0.75turn);
    opacity: 0;
    transition: 1s;
    font-size: 20px;
}

.bottom_a1 {
    position: absolute;
    bottom: 20px;
}
.bottom_a2 {
    position: absolute;
    bottom: 20px;
    left: 220px;
}
.bottom_p {
    position: absolute;
    bottom: 5px;
    left: 200px;
}
