body {
    background: white;
    transition: 2s;
    overflow-x: hidden;
    font-family: 'Courier New', monospace;
}
p {
    font-family: 'Courier New', monospace;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.initial_circle_button {
    height: 200px;
    width: 200px;
    background-color: #555;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: -100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.5s;
    animation-duration: 1.5s;
}
.initial_circle_button:hover {
    height: 250px;
    width: 250px;
    margin-top: -125px;
    margin-left: -125px;
}
.initial_circle_button:hover > .click {
    color: #555;
}
.tra1 {
    animation-name: tra1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    height: 250px;
    width: 250px;
    margin-top: -125px;
    margin-left: -125px;
}
@keyframes tra1 {
    100% {top:-250px}
}
.click {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -50px;
    font-size: 30px;
    transition: 0.3s;
}
.scroll {
    position: absolute;
    font-size: 40px;
    top: 30%;
    left: 50%;
    margin-left: -80px;
    opacity: 0;
    transition: 0.5s;
}
.tra2padding {
    display: none;
    position: absolute;
    top: 200%;
    height: 500px;
    width: 500px;
    margin-left: -250px;
    left: 50%;
    transition: 0.5s;
}
.form1 {
    font-family: 'Courier New', monospace;
    position: absolute;
    top: 50%;
    left: 0%;
    height: 80px;
    width: 400px;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
    font-size: 30px;
}
.form1:focus {
    border: 3px solid #0B0B45;
}
.form1:placeholder-shown ~ .button1{
    color: #e0e0eb;
}
.button1 {
    position: absolute;
    top: 50%;
    right: 0%;
    font-size: 30px;
    height: 88px;
    width: 88px;
    border: 3px solid #ccc;
    color: #666699;
    transition: 1s;
}
.button1:hover {
    border: 3px solid #0B0B45;
}
.tra3padding {
    position: absolute;
    width: 90vw;
    left: 100%;
    transition: 1.5s;
}
.button2 {
    font-family: 'Courier New', monospace;
    opacity: 0;
    transition: 0.7s;
}
.tra3html_p {
    display: none;
}
.button3 {
    background: #3480c7;
    height: 40px;
    width: 80px;
    border: 10px solid #084d15;
    transition: 1s;
    opacity: 0;
    display: none;
}
.tra3css_p {
    width: 80px;
    position: relative;
    text-align: center;
    top: -2px;
    font-size: 24px;
    line-height: 0px;
    color: #e6948e;
    transition: 1s;
}
.button3:hover {
    background: #084d15;
    border: 10px solid #3480c7;
}
.button3:hover .tra3css_p {
    color: #e6d98a;
}
.tra3css_p2 {
    color: pink;
    transition: 1.5s;
    opacity: 0;
}

.button4 {
    opacity: 0;
    display: none;
}